* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-blue);
}
a {
    text-decoration: none;
}

/* Variables */

:root {
    --bornStrong: born-to-be-strong;
    --chunkyTown: chunky-town;
    --thickerBlack: thicker-black;
    --playHeavy: play-heavy;

    --angle: 0.0261799rad;
    --neg-angle: calc(var(--angle) * -1);

    --gap: 10px;

    --subtle-outline: -1px -1px 1px var(--black-red), 1px 1px 1px var(--black-red);
    
    --main-blue: #4f74fa;
    --main-yellow: #dab141;
    --main-red: #c04d6a;
    --main-green: #3f9c4d;

    --bright-blue: #5E81FF;
    --bright-yellow: #f3c547;
    --bright-red: #dd5577;
    --bright-green: #51B560;
    
    --dark-blue: #2e4081;
    --dark-green: #2b5d33;

    --pale-blue: #c1cfff;
    --pale-yellow: #ecd79c;
    --pale-red: #ec9fb2;
    --pale-green: #a4e2ad;


    --white-blue: #f5f6ff;
    --white-yellow: #fffcf5;
    --white-red: #fff8fa;
    --white-green: #f7fff9;

    --light-gray-blue: #bbbdc8;
    --light-gray-yellow: #c7c3b8;
    --light-gray-red: #cabec1;
    --light-gray-green: #c1cac3;

    --gray-blue: #717481;
    --gray-yellow: #888680;
    --gray-red: #8f8688;
    --gray-green: #79837b;

    --dark-gray-blue: #494b52;
    --dark-gray-yellow: #53524d;
    --dark-gray-red: #575052;
    --dark-gray-green: #4b504c;

    --black-blue: #202124;
    --black-yellow: #1f1e1c;
    --black-red: #242122;
    --black-green: #202220;
}

/* Fonts */

@font-face {
    font-family: "play-heavy";
    src: url("../fonts/PlayHeavy.otf");
}

@font-face {
    font-family: "thicker-black";
    src: url("../fonts/ThickerBlack.ttf");
}

@font-face {
    font-family: "born-to-be-strong";
    src: url("../fonts/BornToBeStrong.otf");
}

@font-face {
    font-family: "chunky-town";
    src: url("../fonts/ChunkyTownDemo.otf");
}

/* Flex Containers */

.row-start {
    display: flex;
}

.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-between {
    gap: var(--gap);
    display: flex;
    justify-content: space-between;
}

.col-start {
    display: flex;
    flex-direction: column;
}

/* Page Layout */

.full-page {
    max-width: 100vw;
    height: 700px;
    min-height: 100vh;
    padding: 20px 10%;
}

/* Offsets */

.offset-border {
    width: 100%;
    height: 100%;
    background-color: var(--black-yellow);
    padding: 5px 7px 7px 5px;
}

.offset-border > div {
    width: 100%;
    height: 100%;
}

.single-offset {
    height: 60px;
    min-height: 60px;
}

.single-offset .row-between {
    width: 100%;
    height: 100%;
    gap: 6px;
}

.filler-block {
    background-color: var(--main-yellow);
    flex-grow: 1;
}

.divider {
    background-color: var(--dark-gray-blue);
    width: 100%;
    clip-path: polygon(0 calc(100% - 42px), 100% 0, 100% 100%, 0 100%);
    top: 2px;
}

.divider-reverse {
    clip-path: polygon(0 0, 100% 0, 100% 2px, 0 100%, 0 0);
    bottom: 2px;
    top: 0;
}

/* Icons */

.vector-icon {
    width: 40px;
    height: 40px;
}

/* Text */

.strong-title {
    font-family: var(--bornStrong);
    font-size: 80px;
    letter-spacing: 3px;
    color: var(--white-yellow);
    text-shadow: var(--subtle-outline);
}

.section-title {
    font-family: var(--bornStrong);
    font-size: 80px;
    color: var(--black-yellow);
}

.section-subtitle {
    font-family: var(--thickerBlack);
    font-size: 50px;
    text-transform: uppercase;
    color: var(--black-yellow);
}

.paragraph {
    font-size: 1.2rem;
    color: var(--black-yellow);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .full-page {
        padding: 20px;
    }

    .offset-border {
        padding: 3px 5px 5px 3px;
    }
}