.project-description {
    flex-grow: 1;
    height: 300px;
    margin-top: 20px;
    background-color: var(--white-blue);
}

.description-body {
    width: 100%;
    height: 100%;
    background-color: var(--white-blue);
    padding: 40px 20px;
}