#contact .filler-block {
  background-color: var(--dark-green);
}

#contact-main {
  height: 100%;
}

.contact-title {
  font-family: var(--bornStrong);
  font-size: var(--h1);
  letter-spacing: 3px;
  color: var(--black-yellow);
  transform: skewY(var(--neg-angle));
  text-shadow: var(--subtle-outline-white);
}

.contact-header-img {
  width: 250px;
  position: absolute;
  right: 12%;
  top: -12px;
}

.contact-body {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.contact-contents {
  width: 100%;
  height: 100% !important;
  gap: 0 !important;
  flex-wrap: wrap;
  background-color: var(--bright-green);
}

.contact-list {
  z-index: 10;
  flex-grow: 1;
  background-color: var(--main-green);
  transform: skewY(var(--neg-angle));
  padding-left: 10px;
  padding-right: 20px;
}

.contact-link {
  color: var(--white-blue);
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  transition: 200ms;
}

.contact-link:hover {
  color: var(--light-green);
}

.contact-link h2 {
  font-family: var(--body-font);
  font-size: var(--h2);
}

.contact-form {
  height: 100%;
  flex-grow: 1.5;
  min-width: 55%;
  padding: 30px 20px;
  margin-bottom: 10px;
}

.input-label {
  display: block;
  font-family: var(--body-font);
  font-size: var(--h3);
  color: var(--white-yellow);
  transform: skewY(var(--neg-angle));
}

.input-wrapper {
  width: 100%;
}

.contact-input {
  /* height: 100%; */
  /* height: 70px; */

  width: 100%;
  background-color: var(--white-blue);
  font-size: 1.4rem;
  font-family: var(--body-font);
  padding: 20px 10px 20px;
  border: none;
  transform: skewY(var(--neg-angle));
}

.contact-input:focus {
  background-color: var(--white-yellow);
}

textarea.contact-input {
  width: 100%;
  resize: none;
  height: 200px;
}

.message-body {
  flex-grow: 1;
}

.message-body .input-wrapper {
  flex-grow: 1;
  margin-bottom: 0;
}

.button-wrapper {
  width: 200px;
}

.form-button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-contents {
  width: 100%;
  height: 100%;
  transition: 200ms;
  align-items: flex-end;
  padding: 5px 10px;
  transform: skewY(var(--neg-angle));
  color: var(--white-yellow);
}

.button-contents.submit {
  background-color: var(--dark-green);
}

.button-contents.clear {
  background-color: var(--bright-green);
  color: var(--white-green);
}

.button-contents:hover {
  background-color: var(--light-green);
  color: var(--black-green);
}

.button-contents .vector-icon {
  width: 30px;
  height: 30px;
}

.button-contents p {
  font-family: var(--thickerBlack);
  font-size: 25px;
}
@media (max-width: 1000px) {
  .contact-list {
    width: 100%;
  }

  .contact-input {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .contact-header-img {
    width: 120px;
    right: 17px;
    top: 10px;
  }

  .contact-list {
    padding-left: 5px;
    padding-right: 5px;
  }

  .contact-link h2 {
    font-family: var(--body-font);
  }

  .contact-form {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 0;
  }

  .contact-form .row-end {
    margin-top: 10px;
    width: 100%;
  }

  .button-wrapper {
    width: 0;
    flex-grow: 1;
  }
}

@media (max-width: 420px) {
  .contact-link h2 {
    font-size: 22px;
  }
}
