#contact {
    margin-top: 60px;
    height: 100vh;
}

#contact .filler-block {
    background-color: var(--dark-green);
}

.contact-title {
    font-family: var(--bornStrong);
    font-size: var(--h1);
    letter-spacing: 3px;
    color: var(--black-yellow);
    transform: skewY(var(--neg-angle));
    text-shadow: var(--subtle-outline-white);
}

.contact-header-img {
    width: 250px;
    position: absolute;
    right: 12%;
    top: -12px;
}

.contact-body {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
}

.contact-contents {
    width: 100%;
    height: 100%;
    gap: 0 !important;
}

.contact-list {
    height: 100%;
    /* flex-grow: 1; */
    background-color: var(--main-green);
    transform: skewY(var(--neg-angle));
    padding-left: 10px;
    padding-right: 20px;
}


.contact-link {
    color: var(--white-blue);
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    transition: 200ms;
}

.contact-link:hover {
    color: var(--light-green);
}


.contact-link h2 {
    font-family: var(--thickerBlack);
    font-size: 2rem;
}


.contact-form {
    height: 100%;
    flex-grow: 1.5;
    background-color: var(--bright-green);
    padding: 30px 20px;
}

.input-label {
    display: block;
    transform: skewY(var(--neg-angle));
    font-family: var(--thickerBlack);
    font-size: 2rem;
    color: var(--white-yellow);
    /* top: 10px; */
}

.input-wrapper {
    height: 70px;
    margin-bottom: 10px;
}

.contact-input {
    height: 100%;
    width: 100%;
    background-color: var(--white-blue);
    transform: skewY(var(--neg-angle));
    font-size: 1.4rem;
    font-family: var(--body-font);
    padding: 4px 10px;
    border: none;
}

.contact-input:focus {
    background-color: var(--white-yellow);
}

textarea.contact-input {
    padding: 20px 10px;
}

.message-body {
    flex-grow: 1;
}

.message-body .input-wrapper {
    flex-grow: 1;
    margin-bottom: 0;
}

.button-wrapper {
    width: 200px;
}

.form-button {
    width: 100%;
    height: 100%;
    border: none;
}

.button-contents {
    width: 100%;
    height: 100%;
    transition: 200ms;
    align-items: flex-end;
    padding: 5px 10px;
    transform: skewY(var(--neg-angle));
    color: var(--white-yellow);
}

.button-contents.submit {
    background-color: var(--dark-green);
}

.button-contents.clear {
    background-color: var(--gray-green);
}

.button-contents:hover {
    background-color: var(--light-green);
    color: var(--black-green);
}

.button-contents .vector-icon {
    width: 30px;
    height: 30px;
}

.button-contents p {
    font-family: var(--thickerBlack);
    font-size: 25px;
}

@media (max-width: 500px) {
    .contact-header-img {
        width: 120px;
        top: 40px;
        right: 5px;
    }
}