.image-window {
    width: 100%;
    height: 100px;
    flex-grow: 1;
}

.image-window img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right bottom;
}

.window-contents {
    width: 100%;
    height: 100%;
}

.window-title {
    height: 100%;
    padding: 40px 20px;
    transform: skewY(var(--neg-angle));
}

.window-title h1 {
    font-family: var(--bornStrong);
    font-size: var(--h1);
    letter-spacing: 3px;
    color: var(--white-yellow);
    text-shadow: var(--subtle-outline);
}

.window-title h2 {
    font-family: var(--thickerBlack);
    font-size: var(--h1-sub);
    color: var(--bright-yellow);
    text-transform: uppercase;
    text-shadow: var(--subtle-outline);
}

.invisibutton {
    color: rgba(255, 255, 255, 0.6);
    transition: 300ms;
}

.invisibutton:hover {
    color: var(--white-yellow);
}

.invisibutton svg {
    height: 60px;
    width: 60px;
}

@media (max-width: 1000px) {
    .window-title > h2 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .window-title {
        padding: 20px 10px;
    }

    .window-title h2 {
        font-size: 35px;
    }

    .invisibutton svg {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 370px) {
    .window-title h2 {
        font-size: 25px;
    }
}