.section-buttons {
    width: 100%;
}

#splash .section-buttons {
    margin: 0 auto 20px;
}

.section-buttons > .offset-border {
    flex-grow: 1;
    height: 100%;
}

.wipe-button {
    flex-grow: 1;
    height: 200px;
    border: none;
}

.link-contents {
    width: 100%;
    height: 100%;
    background-color: var(--main-blue);
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.link-contents:hover {
    background-color: var(--bright-blue);
}

.link-contents img {
    position: absolute;
    height: 100%;
    bottom: 0;
    transition: height 200ms;
    /* transform: scaleX(-1); */
}

.link-contents:hover img {
    height: 105%;
}

.card-title {
    color: var(--white-blue);
    text-shadow: var(--subtle-outline);
    font-family: var(--bornStrong);
    font-size: var(--h2);
    letter-spacing: 2px;
    transform: skewY(var(--neg-angle));
}

.wipe-button:hover .card-title {
    color: var(--white-yellow);
}

.section-buttons > .wipe-button:first-of-type .link-contents {
    background-color: var(--main-red);
}

.section-buttons > .wipe-button:first-of-type .link-contents:hover {
    background-color: var(--bright-red);
}

/* .section-buttons > .wipe-button:first-of-type .card-title {
    color: var(--light-gray-red);
}

.section-buttons > .wipe-button:first-of-type:hover .card-title {
    color: var(--white-red);
} */

.section-buttons > .wipe-button:last-of-type .link-contents {
    background-color: var(--main-green);
}

.section-buttons > .wipe-button:last-of-type .link-contents:hover {
    background-color: var(--bright-green);
}

/* .section-buttons > .wipe-button:last-of-type .card-title {
    color: var(--light-gray-green);
}

.section-buttons > .wipe-button:last-of-type:hover .card-title {
    color: var(--white-green);
} */

.icon-link {
    background-color: var(--black-yellow);
    color: var(--white-blue);
    padding: 4px 4px 4px;
    align-items: flex-end !important;
    gap: 10px;
    font-family: var(--thickerBlack);
    text-decoration: none;
    font-size: 1.5rem;
}

.icon-link:hover {
    background-color: var(--bright-yellow);
    /* color: var(--black-red); */
}

@media (max-width: 700px) {
    .section-buttons + .single-offset {
        bottom: 20px;
    }


    .section-buttons {
        flex-wrap: wrap;
    }

    .wipe-button {
        width: 100%;
    }

    .wipe-button {
        height: 100px;
    }

    .link-contents img {
        left: 0;
    }

    .link-contents {
        align-items: center;
        justify-content: right;
    }
}

@media (max-width: 500px) {
    .card-title {
        font-size: 35px;
    }
}